body {
  font-size: 10px;
  font-family: sans-serif;
  margin: 100;
  padding: 30;
  color: #504e4e;
}
.top {
  text-align: center;
  height: 700px;
  width: 1180;
  color: white;
  background-image: url("../images/apple-pie.jpg");
  letter-spacing: 7px;
  /*background-origin: content-box;*/
  background-size: cover;
}
.top h1 {
  padding: 300px;
  font-size: 70px;
}
.content {
  border: 20;
  padding: 120px;
  font-size: 35px;
}
img {
  padding: 7px 270px;
  justify-content: center;
}
.ingredients-list ul li {
  list-style: "-";
}
.direction ol li::before {
  content: counter(section) ")";
  /* This is to change list style to 1)*/
}
.direction ol li {
  list-style: none;
  /*This is to remove the dot from the listed items */
  counter-increment: section;
}
h7 {
  font-weight: bold;
}
